@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.App .Contenedor {
    background-color: lightblue;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra los elementos hijos verticalmente */
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 30px;
    width: 100%; 
    max-width: 1000px; 
    text-align: center; /* Centra horizontalmente el contenido textual */
}

.Bienvenida{
    width: 100%; /* Ocupa el 100% del ancho disponible */
    height: 100%;
    background-color: lightblue; /* Mantiene el color de fondo */
    border-radius: 20px; /* Bordes redondeados */
    padding: 30px; /* Relleno interno */
    margin-bottom: -30px;
    margin-top: 30px;
    box-sizing: border-box; /* Incluye padding en el tamaño total */
    overflow: auto; /* Añade scroll si el contenido sobrepasa el tamaño del contenedor */
}

.App .ContenedorInicio {
    background-color: lightblue;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra los elementos hijos verticalmente */
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 30px;
    width: 100%; 
    max-width: 1000px; 
    text-align: center; /* Centra horizontalmente el contenido textual */
}


.App h1 {
    color: rgb(179, 71, 206);
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
/*    font-family: monospace; */
    text-align: center;
    margin: 0;
}

.App h2 {
    color: rgb(134, 98, 206);
    font-size: 40px;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.contenido-izquierda {
    margin-right: 20px;
    margin-top: 20px;
}

.contenido-derecha {
    overflow: hidden;
    margin-top: 20px;
}