.App .Contenedor{
    background-color: lightblue;
    border-radius: 50px;
    align-items: center;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
    
}

.App H1{
    color:mediumorchid;
    font-size: 50px;
    font-family:monospace;
    align-self: center;
}

.App H2{
    color:mediumpurple;
    align-self: center;
}

.auth-inner {
    display: flex;
    align-items: flex-start; 
}

.contenido-izquierda {
    margin-right: 20px;
}

.contenido-derecha {
    overflow: hidden;
}
