.logout-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }
  
  .left-section {
    text-align: center;
    background-color: lightblue; 
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
  }
  
  .image-container {
    margin-top: 20px;
  }
  
  .image-container img {
    width: 60%;
  }
  
  .title {
    margin-top: 50px; 
    text-align: center;
    color: #000000;
  }
  
  .right-section {
    border: 3px solid #ffc0cb;
    border-radius: 10px;
    padding: 20px;
  }
  
  .right-section h1 {
    color: #000000;
    font-size: 2.5 rem;
  }
  
  .buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .buttons a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .buttons a:last-child {
    margin-right: 0; 
  }
  
  .buttons .accept-button {
    background-color: #ff6347; 
  }
  
  .buttons .cancel-button {
    background-color: #87ceeb;
  }