.EliminarPopUp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que el pop-up esté por encima de otros elementos */
  }
  
  .EliminarContenido {
    background: rgb(227, 236, 247);
    padding: 20px;
    border-radius: 8px;
    position: relative;
    max-width: 500px;
    width: 100%;
  }
  
  .cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .contenido {
    margin-top: 30px;
  }

  .btnCancelar {
    background-color: rgb(255, 120, 176); /* Morado */
    border-color: rgb(255, 120, 176);
  }

  .btnEliminar {
    margin-right: 30px;
    background-color:rgb(241, 88, 88); /* Morado */
    border-color: rgb(251, 90, 90);
  }
