body {
  background-color: rgb(229, 237, 240); 
  box-sizing: border-box;
}  

.ContenedorVerProductos {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  align-items: center;
}

.ContenedorTituloVerProductos {
  background-color: lightblue;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 10px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

.ContenedorTabla {
  width: 100%;
  margin-bottom: 2rem;
}

.ContenedorTabla table {
  width: 100%;
  border-collapse: collapse;
}

.ContenedorTabla th, .ContenedorTabla td {
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  vertical-align: middle;
}

.ContenedorTabla thead {
  background-color: whitesmoke;
}

.ContenedorTabla tbody tr:nth-child(even) {
  background-color: lightgray;
}

.ContenedorTabla tbody tr:hover {
  background-color: white;
}

/* Estilo para los botones */
.ContenedorTabla .btn-actualizar {
  background-color: #6a0dad; /* Morado */
  border-color: #6a0dad;
  color: white;
}

.ContenedorTabla .btn-actualizar:hover {
  background-color: #5b0a8c;
  border-color: #5b0a8c;
}

.ContenedorTabla .btn-eliminar {
  background-color: #8a2be2; /* Morado */
  border-color: #8a2be2;
  color: white;
}

.ContenedorTabla .btn-eliminar:hover {
  background-color: #7a1fc4;
  border-color: #7a1fc4;
}

.ContenedorTabla .btn-agregar {
  background-color: #9370db; /* Morado */
  border-color: #9370db;
  color: white;
}

.ContenedorTabla .btn-agregar:hover {
  background-color: #836fb4;
  border-color: #836fb4;
}

/* Estilo para el botón de agregar */
.d-grid {
  display: flex;
  justify-content: flex-start; /* Mueve el botón de agregar a la derecha */
  width: 80%;
  margin-bottom: 10px; /* Añade un margen superior si es necesario */
}

.d-grid .btn-agregar {
  width: 200px; /* Ancho del botón */
  text-align: center;
}